<div class="flex flex-col gap-10">
  <p class="text-4xl font-header text-stark-white-200">
    Hi, I'm Philip and this is my NX Playground
  </p>
  <div
    class="flex flex-col font-subheader gap-4 p-5 border-2 border-stark-white-200 rounded-2xl"
  >
    <div class="font-body text-2xl text-stark-white-200 mb-4">
      This is my base color palette:
    </div>
    <div
      class="p-4 rounded-2xl bg-shark-950 text-stark-white-200 border-2 border-stark-white-200"
    >
      #222831
    </div>
    <div
      class="p-4 rounded-2xl bg-mako-900 text-stark-white-200 border-2 border-stark-white-200"
    >
      #393e46
    </div>
    <div
      class="p-4 rounded-2xl bg-stone-400 text-shark-950 border-2 border-stark-white-200"
    >
      #a6a09b
    </div>
    <div
      class="p-4 rounded-2xl bg-stark-white-200 text-shark-950 border-2 border-mako-900"
    >
      #dfd0b8
    </div>
  </div>

  <div
    class="flex flex-col gap-4 p-5 border-2 border-stark-white-200 rounded-2xl"
  >
    <div class="font-subheader text-2xl text-stark-white-200 mb-4">
      These are my font weights:
    </div>
    <div class="p-4 rounded-2xl font-header bg-stark-white-200 text-shark-950">
      Authentic Sans 150: {{ exampleText }}
    </div>
    <div
      class="p-4 rounded-2xl font-subheader bg-stark-white-200 text-shark-950"
    >
      Authentic Sans 130: {{ exampleText }}
    </div>
    <div class="p-4 rounded-2xl font-title bg-stark-white-200 text-shark-950">
      Authentic Sans 90: {{ exampleText }}
    </div>
    <div class="p-4 rounded-2xl font-body bg-stark-white-200 text-shark-950">
      Authentic Sans 60: {{ exampleText }}
    </div>
  </div>
</div>
